@import url(//fonts.googleapis.com/earlyaccess/notonaskharabicui.css);
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Noto Naskh Arabic UI', serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

::-webkit-scrollbar{
	height: 1.3em;
	width: 1.3em;
}

body::-webkit-scrollbar-track{
	background-color: #212529;
}
body::-webkit-scrollbar-thumb{
	background-color: #EF2028;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: #b3070d;
}

body{
	background-image: url(/img/speakers-background.png);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	position: relative;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color:#BABDC2;
}
.brand h1 span {
	color: #EF2028;
}

/* Header section */
.header-box {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: #212529;
}
.header .header-box {
	min-height: 8vh;
	transition: 0.3s ease background-color;
	
}
.header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
.header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #212529;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
.header .nav-list ul.active {
	left: 0%;
}
.header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
.header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
.header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
.header .nav-list ul li:hover a {
	color: crimson;
}
.header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid #EF2028;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
}
.header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid #BABDC2;
	animation: hamburger_puls 1s ease infinite;
}
.header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #BABDC2;
	z-index: -1;
}
.header .hamburger .bar::after,
.header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #BABDC2;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
.header .hamburger .bar::after {
	top: 8px;
}
.header .hamburger .bar::before {
	bottom: 8px;
}
.header .hamburger.active .bar::before {
	bottom: 0;
}
.header .hamburger.active .bar::after {
	top: 0;
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* End Header section */

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* speaker section */

.speaker-profile .speaker-box {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}

.speaker-profile video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.speaker-profile video[poster]{
	object-fit:cover;
}

.speaker-profile .all-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.speaker-profile .speaker-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
.speaker-profile .speaker-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	text-align: end;
	justify-content: center;
	flex-direction: column;
	background-color: #212529;
	color: white;

}
.speaker-profile .speaker-info h1 {
	font-size: 4rem;
	font-weight: 500;
	color: #EF2028;
}
.speaker-profile .speaker-info h2 {
	font-size: 2rem;
	font-weight: 500;
	margin-top: 10px;
}
.speaker-profile .speaker-info p {
	color: white;
	font-size: 1.8rem;
	margin-top: 10px;
}

/* End speaker section */

/* Footer */
#footer {
	background-color: #212529;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
#footer .footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 30px;
}
#footer .brand h1{
	font-size: 2rem;
}

#footer p {
	color: white;
	font-size: 1.5rem;
	text-align:center;
	padding-bottom: 10px;
}
/* End Footer */



/* Media Query For mobail */

@media only screen and (max-width: 375px) {


	
}

/* End Media Query For mobail */


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	/* Project */
	.speaker-profile .speaker-item {
		flex-direction: column
	}

	.speaker-profile .all-item .speaker-info {
		width: 100;
		height: 100%;
	}

}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
	.speaker-profile .all-item {
		box-shadow: 0 15px 30px rgba(0,0,0,0.7);
	}
	.speaker-profile .speaker-item {
		flex-direction: row-reverse;
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	.speaker-profile .all-item .speaker-video {
		height: 100%;
	}
}
/* End  Media Query For Desktop */